/*Resetando alguns estilos para evitar problemas de configuração preexistente */

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* align-items seria como o eixo Y E justify-content como oo eixo X*/

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.instagram-phone img{
    height: 44.5rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 30rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /*Faz o eixo mudar e deixa o justify content sempre vertical e o align horizontal, só acontece quando a gnt seta para column*/
    background-color: #ffffff;
    width: 100%;
    padding: 2rem;
    margin-top:20px;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 20rem;

}

.instagram-logo{
    height:1rem;
}

.profile-photo{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:60%;
    width:90px;
    height:110px;
    overflow: hidden;
}

.profile-photo img{
    height:10rem;
}

.instagram-login{
    background-color:#0095f6;
    color:#ffffff;
    padding:8px;
    border-radius:4px;
    margin-top: 1rem;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160, 160, 160);
    margin-bottom: 4px;
}

.link-blue{
    color:#0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:100%;
    padding:10px;
}

.dowload{
    display:flex;
    width:100%;
    justify-content:space-evenly; /* deixa o elemento com o mesmo espaço dos lados e no meio */
    align-items:center;
    padding:1rem;
}

.app-dowload{
    height:1px;
    width:1px;
    background-size: cover;
}

.app-dowload:nth-child(1){
    background-image: url('./assets/apple-button.jpg');
}

.app-dowload:nth-child(2){
    background-image: url('./assets/googleplay-button.png');
}


@media (max-width:1024px){
    .instagram-wrapper{
        width:90%;
    }
}

@media (max-width:650px){
    body{
        background-color: #ffffff;
    }
    .instagram-wrapper{
        width:90%; 
    }
    .instagram-phone{
        display:none;
    }
    .instagram-continue{
        width:100%;
    }
    .group{
        border: 1px solid transparent;
    }
}